<!DOCTYPE html>
<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>SBOX - EXTRATO</title>
 <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
 <script type = "text/javascript" src = "../../js/mylib.js"></script>
 <script type = "text/javascript" src = "../../js/formatTimestamp.js"></script>
 <script type = "text/javascript" src = "../js/extrato.js"></script>

 </head>
 <p><a href="/test/tests.html">Voltar Menu Testes</a></p>
 <div id="saldo" name="saldo"></div>
 <br>
 <select id="listDias" name="listDias">
	<option value="10" selected>10</option>
   	<option value="20">20</option>
   	<option value="50">50</option>
</select>
 <div class="extrato"></div>
 <BR>
    <div class="complemento">
   		<br>
   		TIPO  <select id="tipom" name="tipom">
				<option value="D" selected="selected">DEBITO</option>
				<option value="C">CREDITO</option>
   			  </select><br>
   		DATA  <input name="data" id="data"> [mm/dd/yyyy]<br>
        VALOR <input name="valor" id="valor"> [informe somente decimal com ","]<br>
        COMENTARO <input name="comentario" id="comentario"><br>
   </div>
  <br>
 <button class="somebutton">REGISTRAR</button>
 <!--  
 <br>
 <button value="Refresh Page" onClick="window.location.href=window.location.href">REFRESH</button>
 -->
 <script>
 	onInit();
 
 	//--
 	$("#data").val( formatRetornoDataUS(new Date()) );
 	
	 $(document).on('click', '.somebutton', function () {	 
		 console.log("click...");
	     
	     postMovimento();
	     
	     //refresh page
	     location.reload(); 
	     //window.location.href=window.location.href;
	 });
	
	 $('select[name="listDias"]').on('change', function() {
			 console.log("select.listDias:" + $(this).val());
			 //getPagamentos($(this).val());
			 //getListaPagamentosEfetuados();
			 getExtrato($(this).val());
	 });

 </script>
 </html>